<%- include('partials/header') %>

    
    <div class="jumbotron centered">
        <div class="container">
            <form action="/" method="post">
                <label class="" for="cityInput">City Name:</label>
                <input class="btn btn-light btn-lg" id="cityInput" type="text" placeholder="Enter CityName" name="cityName">
                <button class="btn btn-dark btn-lg" id="submit" type="submit">Get Report </button>
            </form>
        </div>
    </div>

    
<%- include('partials/footer') %>